extends layout

block content
  h1= title
  p Bienvenide a #{title}

  h3 Instrucciones
  ol
    li
      | Para consumir los productos de esta API debe hacer una peticion GET a 
      a https://bsale-challenge.herokuapp.com/api/products/a&gt;
    li Obtenga el objeto Array de la respuesta JSON
    li Desplegar la informacion en el framework cliente de tu preferencia

    
